<!DOCTYPE html>
<html>
    <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </head>

    <body>

        

        <div class="container mt-5" >            
            <div class="row mt-5" >
            <div class="col-4 offset-4 mt-5">

                {% if msg %}
            <div class="alert mt-5 mb-4 alert-danger alert-dismissible d-flex align-items-center fade show">
                
                <strong class="mx-2">Error!</strong> {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endif%}
                

                <form method="POST" >
                {% csrf_token %}
                <div class="mb-3">
                    <label  class="form-label"> Email </label>
                    <input type="email" class="form-control"  name="email" required  >    
                </div>

                <div class="mb-3">
                    <label  class="form-label"> Password </label>
                    <input type="password" class="form-control" name="pwd" required  >    
                </div>

                <div  class="d-flex justify-content-center mt-4" >
                    <input type="submit" value="Login" class="btn btn-dark " >

                </div>
            </form>

            

            </div>
        </div>
        </div>

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@500&family=Yuji+Mai&display=swap");
            
           
             body {
                background: url(media/4.jpeg) no-repeat;
                background-size: cover;
                height: 100vh;
            }
            
            

            
        </style> 
    </body>
</html>